[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
#body{
    min-height: 420px;
}
header{
    background-color: cornflowerblue;
    background-image: url(img/harderwijkponarama.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    display: flex;
}

h1{
    font-family: "Montenegrin Gothic One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    text-shadow: 3px 3px 3px black;
    color: white;
}
.links div{
    background-color: plum;
    min-height: 360px;

}
.links h3{
    padding: 5px;
}
.rechts div{
    background-color: powderblue;
    min-height: 170px;
    margin: 20px;
}
.rechts img{
    float: right;
    padding: 10px;
    max-height: 125px;
}
.rechts p{
    padding-left: 10px;
    padding-bottom: 5px;
}
.rechts h2{
    padding: 5px;
}
footer{
    background-color: cornflowerblue;
    width: 100%;
    min-height: 100px;
}